.header {
    padding: 6vh 8vw 6vh 8vw;
    color: #354463;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.the-green-trees-initiative {
    width: 30%;
    font-weight: 900;
    font-size: 1.4rem;
    align-self: center;
}

.about-involved-news {

    font-size: 18px;
    line-height: 4vh;
    opacity: 0.8;
}

.donate-today-div {
    text-align: center;
    font-weight: bolder;
    font-size: 1.4rem;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    padding: 2vh 0vw 2vh 0vw;
}

.moto {
    width: 100%;
    height: 600px;
    margin-top: 40px;
    background-image: url('/images/annie-spratt-427339-unsplash.png');
    background-color: #354463;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.word {
    width: 181px;
    height: 136px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: white;
    opacity: 1;
    font-size: 32px;
    margin-left: 10%;
    font-family: flood-std, sans-serif;

    font-weight: 400;

    font-style: normal;
}

.issues {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 30%;
    height: 30px;
    border: 1px solid black;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
    color: white;

}

.declaration {
    display: flex;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: -18px;
    height: 210px;
}

.declaration-text {
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    font-weight: bold;
}





.mission-and-values {
    width: 100%;
    background-color: #354463;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission {
    border: 1px solid black;
    width: 160px;
    height: 20px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    opacity: 1;
}

.strive {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.advices {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #354463;

}

.our-work {
    width: 45%;
    margin-top: 25px;
    color: #FFFFFF;
    margin-left: 10px;
}


.flex-rectangle2 {
    width: 100%;
    height: 300px;

}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 160px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #354463;
    color: white;

}

.intro {

    width: 290px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.outlook {
    display: flex;
    width: 302px;
    height: 78px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    margin-top: -35px;
    color: #354463;
    opacity: 1;
}

.icon-image {
    width: 14%;
    height: 40px;
    /* UI Properties */
    opacity: 1;
}

.heading {
    width: 80%;
    height: 27px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.lorem-ipsum {
    width: 150px;
    height: 50px;
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: -12px;
}


.persons-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.myimage {
    width: 144px;
    height: 144px;
}

.individual-profile {
    width: 40%;
    margin-left: 5%;
}

.name-and-title {
    background-color: #354463;
    color: #C1F7D5;
    margin-top: -5px;
    height: 40px;
    width: 144px;
}


.impact {
    width: 100%;
    height: 880px;
    background-image: url('/images/ian-macharia-509884-unsplash.png');
    background-color: #354463;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;


}

.our-impact {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 160px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
}

.invest {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 50px;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.tree-number {
    margin-left: auto;
    margin-right: auto;
    width: 62px;
    height: 44px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-family: flood-std, sans-serif;

    font-weight: 400;

    font-style: normal;
}

.tree-planted-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    width: 160px;
    height: 36px;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-family: flood-std, sans-serif;

    font-weight: 400;

    font-style: normal;
}

.women-employed {
    margin-left: auto;
    margin-right: auto;
    width: 84px;
    height: 44px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-family: flood-std, sans-serif;

    font-weight: 400;

    font-style: normal;
}

.tree-million {
    margin-left: auto;
    margin-right: auto;
    width: 144px;
    height: 44px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-family: flood-std, sans-serif;

    font-weight: 400;

    font-style: normal;
}

.communities {
    margin-left: auto;
    margin-right: auto;
    width: 68px;
    height: 44px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-family: flood-std, sans-serif;

    font-weight: 400;

    font-style: normal;
}


.action {
    display: flex;
    width: 100%;
    height: 1050px;
    background-color: #354463;
    flex-direction: column;
}

.action-text {
    width: 312px;
    height: 186px;
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    font-family: flood-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: flood-std, sans-serif;

    font-weight: 400;

    font-style: normal;
}

.image-year {
    display: flex;
    margin-left: 35px;
    margin-right: 35px;
    height: 300px;
    background-image: url('/images/Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.arrow-image {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 10%;
    height: 12%;
    margin-right: -8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
}

.year {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    width: 160px;
    height: 40px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.training {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-right: 35px;
    background-color: #FFFFFF;
}

.training-detail {
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 78px;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.training-lorem {
    margin-left: auto;
    margin-right: auto;
    width: 247px;
    height: 116px;
    color: #354463;
    opacity: 1;
}

.read-more {
    width: 156px;
    height: 40px;
    /* UI Properties */
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.more-dot {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    column-gap: 3px;
}

.first-dot {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.section-subscribe {
    background-color: #C1F7D5;
    color: #354463;
    padding: 7vh 8vw 7vh 7vw;
}

.subscribe-description {
    font-size: 1.7rem;
    font-weight: 900;
    margin-bottom: 7vw;
}

.subscribe-container {
    display: flex;
    column-gap: 3%;
}

.subscribe-email-div {
    font-size: 1rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 100px;
    padding: 2vh 0vw 2vh 0vw;
    width: 60%;
    text-align: center;
}

.subscribe-button-div {
    font-size: 1.3rem;
    font-weight: 900;
    width: 37%;
    background: #354463 0% 0% no-repeat padding-box;
    border-radius: 100px;
    padding: 2vh 0vw 2vh 0vw;
    color: #C1F7D5;
    text-align: center;
}

.address {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.name {
    width: 94px;
    height: 62px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.contact-heading {
    display: flex;
    width: 84px;
    height: 11px;
    margin-top: 22px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    opacity: 1;
}

.contact-text {
    width: 126px;
    height: 74px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    margin-top: -7px;
    color: #354463;
    opacity: 1;
}

.follow-and-learn {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
}

.follow {
    display: flex;
    flex-direction: column;
    margin-left: -40px;
}

.follow-heading {
    width: 78px;
    height: 11px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    opacity: 1;
}

.media {
    width: 62px;
    height: 110px;
    /* UI Properties */
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.learn-more {
    display: flex;
    flex-direction: column;


}

.learn-heading {
    width: 87px;
    height: 11px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    opacity: 1;
}

.options {
    width: 80px;
    height: 86px;
    /* UI Properties */
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.slogan {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: end;
}

.slogan-text {
    margin-left: auto;
    margin-right: 30px;
    width: 181px;
    height: 136px;
    /* UI Properties */
    text-align: right;
    font: normal normal normal 44px/46px Flood Std, sans-serif;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    font-family: flood-std, sans-serif;

    font-weight: 400;

    font-style: normal;
}


@media screen and (min-width:482px) and (max-width:768px) {
    .header {
        display: flex;
        justify-content: space-between;
        padding: 3vh 8vw 3vh 8vw;
    }

    .navigation-bar {
        flex-direction: column;
        row-gap: 4vh;
        width: 60%;
        margin-bottom: 0vh;
    }

    .the-green-trees-initiative {
        width: 60%;
        align-self: flex-start;
        font-size: 1.7rem;
    }

    .about-involved-news {
        display: flex;
        column-gap: 3vw;
        line-height: 2vh;
        width: 100%;
        font-size: 1.1rem;
    }

    .donate-today-div {
        justify-content: end;
        background-color: transparent;
    }

    .donate-today {
        background-color: #C1F7D5;
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        padding: 2vh 2vw 2vh 2vw;
    }

    .flex-rectagle {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 400px;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .page-heading {
        height: 40px;
        /* UI Properties */
        text-align: left;
        font: normal normal bold 18px/22px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        margin-left: 8%;
    }

    .otherdetails {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        column-gap: 4%;
        width: 70%;
    }

    .aboutus {
        width: 65px;
        height: 16px;
        /* UI Properties */
        text-align: left;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
        opacity: 1;
    }

    .getinvolved {
        width: 87px;
        height: 16px;
        /* UI Properties */
        text-align: left;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
        opacity: 1;
    }

    .newsandevents {
        width: 116px;
        height: 16px;
        /* UI Properties */
        text-align: left;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
        opacity: 1;
    }

    .donationbox {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        flex-shrink: 1;
        align-items: center;
        width: 100%;
        width: 132px;
        height: 40px;
        /* UI Properties */
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        opacity: 1;
        margin-top: 20px;
        margin-left: auto;
        margin-right: 10%;
        margin-top: -10%;
    }

    .donation {
        width: 114px;
        height: 18px;
        /* UI Properties */
        text-align: left;
        font: normal normal bold 18px/22px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }

    .moto {
        width: 100%;
        height: 700px;
        margin-top: 40px;
        background-image: url('/images/annie-spratt-427339-unsplash.png');
        background-color: #354463;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .word {
        width: 181px;
        height: 136px;
        /* UI Properties */
        text-align: left;
        font: normal normal normal 44px/46px Flood Std;
        letter-spacing: 0px;
        color: white;
        opacity: 1;
        font-size: 32px;
        margin-left: 10%;
        font-family: flood-std, sans-serif;

        font-weight: 400;

        font-style: normal;
    }

    .issues {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 14%;
        margin-top: 200px;
        width: 30%;
        height: 40px;
        border: 1px solid black;
        background: #354463 0% 0% no-repeat padding-box;
        opacity: 1;
        color: white;

    }

    .declaration {
        display: flex;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: -18px;
        height: 170px;
    }

    .declaration-text {
        text-align: center;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        font-weight: bold;
    }

    .mission-and-values {
        width: 100%;
        height: 800px;
        background-color: #354463;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .mission {
        border: 1px solid black;
        width: 170px;
        height: 25px;
        background-color: white;
        margin-left: 10%;
        text-align: center;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.56px;
        color: #354463;
        opacity: 1;
    }

    .strive {
        width: 75%;
        margin-left: 10%;
        text-align: center;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    .advices {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: start;
        background-color: #354463;


    }

    .our-work {
        width: 22%;
        margin-top: 25px;
        color: #FFFFFF;
        margin-left: 10%;

    }


    .flex-rectangle2 {
        width: 100%;
        height: 300px;
        display: flex;

    }

    .team {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        width: 160px;
        height: 40px;
        margin-left: 15%;
        margin-top: 7%;
        background-color: #354463;
        color: white;

    }

    .intro {

        width: 220px;
        height: 120px;
        margin-left: 15%;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }

    .outlook {
        display: flex;
        width: 50%;
        height: 98px;
        margin-left: 10%;
        margin-right: auto;
        text-align: center;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
        margin-top: 10%;
        font-size: 20px;
        opacity: 0.6;
    }

    .icon-image {
        width: 14%;
        height: 40px;
        /* UI Properties */
        opacity: 1;
    }

    .heading {
        width: 100%;
        height: 27px;
        /* UI Properties */
        text-align: left;
        font: normal normal bold 16px/20px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    .lorem-ipsum {
        width: 130px;
        height: 50px;
        text-align: left;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #FFFFFF;
        opacity: 1;
        margin-top: -5px;
    }

    .persons-image {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .myimage {
        width: 90%;
        height: 90%;
    }

    .individual-profile {
        width: 40%;
        margin-left: 5%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .name-and-title {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #354463;
        color: #C1F7D5;
        margin-top: -5px;
        margin-left: 20%;

        height: 50px;
        width: 80%;
        font-size: 15px;
    }

    .impact {
        width: 100%;
        background-image: url('/images/ian-macharia-509884-unsplash.png');
        background-color: #354463;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        flex-grow: 1;
        flex-shrink: 1;


    }

    .our-impact {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        width: 30%;
        height: 40px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.56px;
        color: #354463;
    }

    .invest {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: 50px;
        /* UI Properties */
        text-align: center;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        font-size: 30px;
        color: #FFFFFF;
        opacity: 1;
    }

    .statistics {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }

    .tree {
        width: 50%;
    }

    .tree-million {
        width: 50%;
    }

    .employment {
        width: 50%;

    }

    .community {
        width: 50%;

    }

    .tree-number {
        margin-left: auto;
        margin-right: auto;
        width: 62px;
        height: 44px;
        /* UI Properties */
        text-align: center;
        font: normal normal normal 44px/46px Flood Std;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        font-family: flood-std, sans-serif;

        font-weight: 400;

        font-style: normal;
    }

    .tree-planted-text {
        margin-left: auto;
        margin-right: auto;
        margin-top: -30px;
        width: 160px;
        height: 36px;
        /* UI Properties */
        text-align: center;
        font: normal normal bold 16px/20px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        font-family: flood-std, sans-serif;

        font-weight: 400;

        font-style: normal;
    }

    .women-employed {
        margin-left: auto;
        margin-right: auto;
        width: 84px;
        height: 44px;
        /* UI Properties */
        text-align: center;
        font: normal normal normal 44px/46px Flood Std;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        font-family: flood-std, sans-serif;

        font-weight: 400;

        font-style: normal;
    }

    .tree-million {
        margin-left: auto;
        margin-right: auto;
        width: 144px;
        height: 44px;
        /* UI Properties */
        text-align: center;
        font: normal normal normal 44px/46px Flood Std;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        font-family: flood-std, sans-serif;

        font-weight: 400;

        font-style: normal;
    }

    .communities {
        margin-left: auto;
        margin-right: auto;
        width: 68px;
        height: 44px;
        /* UI Properties */
        text-align: center;
        font: normal normal normal 44px/46px Flood Std;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        font-family: flood-std, sans-serif;

        font-weight: 400;

        font-style: normal;
    }
    .action {
        display: flex;
        width: 100%;
        height: 1050px;
        background-color: #354463;
        flex-direction: column;
    }

    .action-text {
        width: 312px;
        height: 186px;
        text-align: center;
        font: normal normal normal 44px/46px Flood Std;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        font-family: flood-std, sans-serif;
        font-weight: 400;
        font-style: normal;
    }


    .image-year {
        display: flex;
        margin-left: 35px;
        margin-right: 35px;
        height: 300px;
        background-image: url('/images/Image.png');
        background-repeat: repeat-x;
        width:40%;
       
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .arrow-image {
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        width: 10%;
        height: 12%;
        margin-right: -8px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: #C1F7D5 0% 0% no-repeat padding-box;
    }
    .training {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        width:40%;
    }
    
    .training-detail {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 3%;
        /* UI Properties */
        text-align: center;
        font: normal normal bold 5px,8px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }
    
    .training-lorem {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 3%;
        color: #354463;
        opacity: 1;
    }
    
    .read-more {
        width: 156px;
        height: 40px;
        /* UI Properties */
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font: normal normal bold 18px/22px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }
    
    .more-dot {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        column-gap: 3px;
    }
    
    .first-dot {
        height: 15px;
        width: 15px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
    }
    
    .dot {
        height: 15px;
        width: 15px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }
    


    .subscribe-description {
        width: 70%;
    }

    .subscribe-email-div {
        width: 80%;
    }


    .address {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        column-gap: 4%;
    }

    .name {
        width: 35%;
        height: 62px;
        /* UI Properties */
        font: normal normal bold 18px/22px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }

    .contact-heading {
        display: flex;
        height: 11px;
        margin-top: 22px;
        /* UI Properties */
        text-align: left;
        font: normal normal normal 11px/13px Helvetica;
        letter-spacing: 0.44px;
        color: #354463;
        opacity: 1;
    }

    .contact-text {
        width: 126px;
        height: 74px;
        /* UI Properties */
        text-align: left;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
        margin-top: -7px;
        color: #354463;
        opacity: 1;
    }

    .follow {
        width: 35%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 5%;
    }

    .follow-heading {
        width: 78px;
        height: 11px;
        /* UI Properties */
        text-align: left;
        font: normal normal normal 11px/13px Helvetica;
        letter-spacing: 0.44px;
        color: #354463;
        opacity: 1;
        margin-bottom: -5px;
    }

    .media {
        width: 62px;
        height: 110px;
        /* UI Properties */
        text-decoration: underline;
        font: normal normal 300 14px/24px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
        opacity: 1;
    }

    .learn-more {
        display: flex;
        flex-direction: column;



    }

    .learn-heading {
        width: 87px;
        height: 11px;
        /* UI Properties */
        text-align: left;
        font: normal normal normal 11px/13px Helvetica;
        letter-spacing: 0.44px;
        color: #354463;
        opacity: 1;
        margin-bottom: -10px;
    }

    .options {
        width: 80px;
        height: 86px;
        /* UI Properties */
        text-align: left;
        text-decoration: underline;
        font: normal normal 300 14px/24px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
        opacity: 1;
    }

    .slogan {
        width: 100%;
        height: 200px;
    }

    .slogan-text {
        margin-left: auto;
        margin-right: 30px;
        width: 181px;
        height: 136px;
        /* UI Properties */
        text-align: right;
        font: normal normal normal 44px/46px Flood Std, sans-serif;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        font-weight: 400;
    }

    .slogan {
        width: 100%;
        height: 200px;

    }

    .slogan-text {


        font: normal normal normal 44px/46px Flood Std, sans-serif;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        font-weight: 200;
        font-family: flood-std, sans-serif;
        font-weight: 400;

        font-style: normal;
    }



}



@media screen and (min-width:769px) {

    /* header */


    .header {
        padding: 4vh 8vw 6vh 14vw;
        display: flex;
        justify-content: space-between;
    }

    .navigation-bar {
        width: 75%;
        column-gap: 6vw;
        margin-bottom: 0px;
    }

    .about-involved-news {
        display: flex;
        column-gap: 6vw;
        line-height: 3vh;
        align-self: center;
        width: 100%;
        margin-left: 2vw;
    }

    .donate-today-div {
        background-color: transparent;
    }

    .donate-today {
        background-color: #C1F7D5;
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        padding: 2vh 2vw 2vh 2vw;
    }

    .moto {
        width: 100%;
        height: 500px;
        margin-top: 40px;
        background-image: url('/images/annie-spratt-427339-unsplash.png');
        background-color: #354463;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
    }

    .word {
        align-self: center;
        width: 181px;
        height: 136px;
        /* UI Properties */
        text-align: left;
        font: normal normal normal 44px/46px Flood Std;
        letter-spacing: 0px;
        color: white;
        opacity: 1;
        font-size: 42px;
        margin-left: 10%;
        font-family: flood-std, sans-serif;

        font-weight: 400;

        font-style: normal;
    }

    .issues {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 24%;
        margin-top: 200px;
        width: 30%;
        height: 40px;
        border: 1px solid black;
        background: #354463 0% 0% no-repeat padding-box;
        opacity: 1;
        color: white;

    }

    .declaration {
        display: flex;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 270px;
        margin-top: 25%;
        margin-right: 5%;
    }

    .declaration-text {
        text-align: center;
        font: normal normal bold 29px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        font-weight: bold;
    }







    .section-subscribe {
        display: flex;
        padding-bottom: 2vh;
    }

    .subscribe-description {
        width: 50%;
        margin-bottom: 0vw;
    }

    .subscribe-container {
        width: 43%;
        column-gap: 7%;
    }

    .subscribe-email-div {
        background-color: transparent;
        font-size: 1rem;

    }

    .subscribe-button-div {
        background-color: transparent;
    }

    .subscribe-email {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 100px;
        padding: 2vh 5vw 2vh 1vw;

    }

    .subscribe-button {
        background: #354463 0% 0% no-repeat padding-box;
        border-radius: 100px;
        padding: 2vh 0vw 2vh 0vw;
    }
}